doctype html
html
  head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title= title

      style(type='text/css').

          .header {
              margin-bottom: 20px;
          }

          .ui-title {
              margin: 0.6em 10% 0.8em !important;
          }
  body
      block content
